@CHARSET "utf-8";

.error { border-style: solid; border-width: medium; border-color: red; }

#header{
 width:760px;
 background-color: orange;
}

#menu{
 width:160px;
 height:400px;
 text-align:left;
 vertical-align: top;
 float:left;
 background-color: aqua;
}

#body{
 width:600px;
 height:400px;
 float:left;
 background-color: white;
}

#footer{
 width:760px;
 text-align:left;
 background-color: black;
 color: white;
 clear: left;
}

.blue_gradation {
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    background-color: #3333FF;
    background-image: url(/images/backrepeat.jpg);
    background-repeat: repeat-x;
    border: 8px solid #FFFFFF;
	border-bottom: 5px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    width: 100%;
}
