
.simple_box {
	-moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    background-color: #22F;
    background-image: url(/common/images/yellow.jpg);
    background-repeat: repeat-x;
    border: 8px solid #FFFFFF;
	border-bottom: 5px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    width: 200px;
}
/*
	 width:200px; padding:10px; background-color:#d9e6f7; border:0px ; }
*/