@CHARSET "utf-8";

body {
	background-color: white;

}

h1 { 
	height: 33px;
	font-size: x-large;
	font-family: "Times New Roman", Times, serif;
}

ul li { list-style: square; }
a:hover { background-color: white; }

input.err { background-color: orange; }

#center{
 	margin-left: auto;
	margin-right: auto;
     width:800px;
     height:100%;
     margin: 0%;
     padding: 0%;
	/*border: 1px solid #000;*/
	
	height:100%;
	 	margin-left: auto;
	margin-right: auto;
}

#header{
 width:800px;
 background-color: white;
 	margin-left: auto;
	margin-right: auto;
}

#menu{
 width:200px;
 height:400px;
 /*text-align:left;*/
 /*vertical-align: top;*/
 float:left;
 background-color: white;
}

#body{
 width:600px;
 height:400px;
 float:left;
 background-color: white;
}

#footer{
 width:800px;
 height:50px;
 text-align:left;
 
 background-image:url(../img/footerbg.png);
 color: white;
 clear: left;
 	margin-left: auto;
	margin-right: auto; 
}


